.process-container {
    max-width: 75%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.process-flow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-step {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.process-step img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.process-step img:hover {
    transform: scale(1.05);
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease-in-out;
}

.process-step:hover .arrow img {
    transform: translateX(10px);
}

.label {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}

/* 이미지 컨테이너 스타일 */
.image-container {
    align-items: center;
    /* 세로 중앙 정렬 */
}

.product-line {
    height: 100%;
    /* 동일한 높이 설정 */
    margin: 0 10px;
    /* 이미지 사이 여백 */
    width: 35%;
}

.product-line2 {
    height: 100%;
    /* 동일한 높이 설정 */
    margin: 0 10px;
    /* 이미지 사이 여백 */
    width: 50%;
}

table {
    width: 75%;
    margin: 50px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

caption {
    font-size: 1.5em;
    margin-bottom: 20px;
}