<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Daeduk chemical</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- =================================================================================================== -->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/logo.png" />
    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/css/sidebar.css" rel="stylesheet" />
    <!-- css here -->
    <link href="/css/introduce.css" rel="stylesheet" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- =================================================================================================== -->

</head>

<body>
    <!-- header.html -->
    <div id='header'></div>
    <!-- Sidebar -->
    <div id='side'></div>
    <div class="content-padding-bottom"></div>

    <!-- ================================================================================================================ -->
    <!-- CEO 인사말 -->
    <div class="ceo-message-section">
        <h2 class="ceo-title">CEO 인사말</h2>
        <div class="ceo-message">
            <p>㈜디케이 (DK) 홈페이지에 방문하신 것을 환영합니다.</p>
            <p>㈜디케이는 1997년 7월 창업하여 국내 굴삭기와 도져용 SEAL을 전문적으로 생산하여 국내의 유수기업에 납품 공급하고 있습니다.</p>
            <p>국내 SEAL을 세계 최고의 SEAL로 만드는 것을 목표로 최고의 설비와 기술로 차별화된 품질 만족을 할 수 있는 기업이 되는 것을 우리의 궁극적인 목표로 생각합니다.</p>
            <p>이를 위해 ㈜디케이는 청정한 마음과 성실한 자세로 배전의 노력과 정성을 다하겠습니다.</p>
            <p>㈜디케이는 고객을 존중하고 사랑하는 마음으로 고객의 신뢰를 받을 수 있는 기업이 될 것을 약속드립니다.</p>
            <p class="ceo-signature">감사합니다.<br>㈜디케이(DK) 대표이사<br>이기광</p>
        </div>
    </div>

    <!-- ================================================================================================================ -->
    <!-- 경영 이념 -->
    <div class="image-section">
        <img src="image/picture2.png" class="main-image" alt="경영 이념">
    </div>

    <!-- ================================================================================================================ -->
    <!-- 회사 사진 -->
    <div class="gallery">
        <div class="row">
            <div class="photo">
                <img src="image/company1.png" alt="회사 외경 1">
                <h3>회사 외경</h3>
            </div>
            <div class="photo">
                <img src="image/company2.png" alt="회사 외경 2">
                <h3>회사 외경</h3>
            </div>
        </div>

        <div class="row">
            <div class="photo large">
                <img src="image/company3.png" alt="공장 내부">
                <h3>공장 내부</h3>
            </div>
        </div>
    </div>

    <!-- ================================================================================================================ -->
    <!-- 회사 연혁 -->
    <section class="timeline-container">
        <h3 style="padding-top: 20px;">회사 연혁</h3>

        <div class="timeline">
            <div class="timeline-column left">
                <!-- 왼쪽 타임라인 -->
                <div class="timeline-column left">
                    <div class="timeline-item">
                        <div class="timeline-year">1997.7</div>
                        <div class="timeline-content">대덕 화학 설립</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">1998.4</div>
                        <div class="timeline-content">대창 단조 협력업체 등록</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">1999.2</div>
                        <div class="timeline-content">궤도 용 SEAL 납품</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">1999.2</div>
                        <div class="timeline-content">대창 단조 SEAL 공급</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2001.1</div>
                        <div class="timeline-content">LG산전 협력업체 등록</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2002.9</div>
                        <div class="timeline-content">SB텔콤 협력업체 등록</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2004.2</div>
                        <div class="timeline-content">회사 이전 (인천 남동공단)</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2004.6</div>
                        <div class="timeline-content">E/V 용 ROLLER 개발</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2004.8</div>
                        <div class="timeline-content">현대E/V, 동양E/V ROLLER 공급</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2005.3</div>
                        <div class="timeline-content">ISO9001 인증</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2006.12</div>
                        <div class="timeline-content">CLEAN사업장 인증 획득</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2008.5</div>
                        <div class="timeline-content">중장비용 링크 SEAL 특허 등록</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2008.7</div>
                        <div class="timeline-content">현대제철 업체 등록</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2008.7</div>
                        <div class="timeline-content">현대제철 SEAL 공급</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-year">2012.6</div>
                        <div class="timeline-content">대덕화학주식회사 법인 변경</div>
                    </div>
                </div>
            </div>
            <!-- 오른쪽 타임라인 -->
            <div class="timeline-column right">
                <div class="timeline-item">
                    <div class="timeline-year">2013.1</div>
                    <div class="timeline-content">경기도 화성시로 공장 확장이전</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2013.5</div>
                    <div class="timeline-content">링크 SEAL W형 특허 및 디자인 등록 (23건)</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2014.8</div>
                    <div class="timeline-content">두산인프라코어 W형 검증</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2015~</div>
                    <div class="timeline-content">특허 및 디자인 등록 다수</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2015.2</div>
                    <div class="timeline-content">W형 SEAL 공급(두산, 뤽베르)</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2017.3</div>
                    <div class="timeline-content">두산 전기종 W형 개발 완료</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2021.2</div>
                    <div class="timeline-content">RING KIT 국산화 완료</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2021.6</div>
                    <div class="timeline-content">회사 확장이전 (시화공단)</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2021.6</div>
                    <div class="timeline-content">회사 상호 변경 (대덕화학에서 (주)디케이(DK))</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2022.7</div>
                    <div class="timeline-content">뿌리 기업 등록</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2022.7</div>
                    <div class="timeline-content">연구개발 전담부서 신설</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2022.9</div>
                    <div class="timeline-content">생산 동, 출하 동 구분 확장</div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-year">2023.4</div>
                    <div class="timeline-content">W형 이중구조 특허 등록</div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================================================================================================================ -->
    <div class="content-padding-bottom"></div>

    <!-- footer.html -->
    <div id='footer'></div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SB Forms JS-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- =================================================================================================== -->
    <!-- Sidebar JS -->
    <script src="/js/sidebar.js"></script>
    <script src="/js/sidebarScroll.js"></script>
    <!-- Header JS -->
    <script src="/js/headerFooter.js"></script>
    <!-- =================================================================================================== -->
    <script src="/js/introduce.js"></script>

    <!-- 세션값 담기 -->
    <input type="hidden" id="loginCheck" th:value="${loginCheck}" />
    <script src="/js/sessionCheck.js"></script>

</body>

</html>