<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Daeduk chemical</title>

  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
    type="text/css" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <!-- =================================================================================================== -->
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/logo.png" />
  <!-- Custom CSS -->
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/login.css" rel="stylesheet" />
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- =================================================================================================== -->
</head>

<body>
  <!-- header.html -->
  <div id='header'></div>
  <!-- =================================================================================================== -->

  <h1>LOG IN DAE DUK SUCCESS!!!</h1>
  <h1 th:text="${message}"></h1>

  <!-- =================================================================================================== -->
  <!-- footer.html -->
  <div id='footer'></div>
  <!-- =================================================================================================== -->
  <!-- Header JS -->
  <script src="/js/headerFooter.js"></script>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- SB Forms JS-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  <!-- =================================================================================================== -->

  <!-- 세션값 담기 -->
  <input type="hidden" id="loginCheck" th:value="${loginCheck}" />
  <script src="/js/sessionCheck.js"></script>

</body>

</html>