<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Daeduk chemical</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- =================================================================================================== -->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/logo.png" />
    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/css/sidebar.css" rel="stylesheet" />
    <link href="/css/slidebanner.css" rel="stylesheet" />
    <!-- css here -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- =================================================================================================== -->
</head>

<body>
    <!-- header.html -->
    <div id='header'></div>
    <!-- Sidebar -->
    <div id='side'></div>
    <div style="padding-bottom: 50px;"></div>

    <!-- ==========================================  검색창 ====================================================== -->
    <header class="masthead">

        <div class="contain">
            <div class="text-section text-white" style="position: relative !important">
                <h1 class="mb-5">대덕화학은 경험과 기술로 최고의 제품과 고객 만족을 추구합니다.</h1>
            </div>
            <div class="slider-section">
                <div class="slider">
                    <div class="slides">
                        <img class="slide" src="image/thing1.png" alt="Image 1" />
                        <img class="slide" src="image/thing2.png" alt="Image 2" />
                        <img class="slide" src="image/thing3.png" alt="Image 3" />
                        <img class="slide" src="image/thing4.png" alt="Image 4" />
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- ==========================================  인증서 ====================================================== -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="text-content">
            <p>CLEAN 사업장</p>
            <p>도져 용 이중 SEAL 특허</p>
            <p>ISO9001/2015 인증</p>
            <p>현대제철 SQ 인증</p>
            <p>링크 SEAL(W형) 특허등록(2건)</p>
            <p>링크 SEAL(W형) 디자인등록(21건)</p>
            <p>해외 디자인 및 특허 등록</p>
        </div>

        <section class="features-icons text-center">
            <div class="container" style="display: flex; justify-content: space-between;">
                <div class="col-lg-4">
                    <img src="image/certs.jpg" style="width:70%">
                </div>
                <div class="col-lg-4">
                    <img src="image/certs.jpg" style="width:70%">
                </div>
                <div class="col-lg-4">
                    <img src="image/certs.jpg" style="width:70%">
                </div>
            </div>
            <div style="padding-bottom:20px"></div>
            <div class="container" style="display: flex; justify-content: space-between;">
                <div class="col-lg-4">
                    <img src="image/certs.jpg" style="width:70%">
                </div>
                <div class="col-lg-4">
                    <img src="image/certs.jpg" style="width:70%">
                </div>
                <div class="col-lg-4">
                    <img src="image/certs.jpg" style="width:70%">
                </div>
            </div>
        </section>
    </div>

    <!-- footer.html -->
    <div id='footer'></div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SB Forms JS-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- =================================================================================================== -->
    <!-- Sidebar JS -->
    <script src="/js/sidebar.js"></script>
    <script src="/js/sidebarScroll.js"></script>
    <!-- Header JS -->
    <script src="/js/headerFooter.js"></script>
    <!-- =================================================================================================== -->
    <!-- Slidebanner JS -->
    <script src="/js/slidebanner.js"></script>

    <!-- 세션값 담기 -->
    <input type="hidden" id="loginCheck" th:value="${loginCheck}" />
    <script src="/js/sessionCheck.js"></script>

</body>

</html>